apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: "nextjs"
  name: "nextjs"
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "nextjs"
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: "nextjs"
    spec:
      containers:
        - image: ghcr.io/bugffet/demo-actions:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
            initialDelaySeconds: 60
          readinessProbe:
            failureThreshold: 3
            httpGet:
              path: /
              port: 3000
              scheme: HTTP
            periodSeconds: 10
            successThreshold: 1
            timeoutSeconds: 10
            initialDelaySeconds: 30
          name: "nextjs"
          env:
            - name: "ENVIRONMENT"
              value: "PROD"
          ports:
            - containerPort: 3000
              protocol: TCP
          resources:
            requests:
              cpu: 128m
              memory: 0.5G
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred
